<br>
<div id="<%= '#{dom_id(booking)}_bookingid' %>">
<ul>
<%= turbo_frame_tag dom_id(booking) do %>
 <li> <p>
    <strong>Bookingid:</strong>
    <%= link_to booking.bookingid , edit_booking_path(booking) %>
    <%=  button_to "delete", booking_path(booking), method: :delete %>
  </p>
  </li>
<% end %>
</ul>
</div>
