<br>
<div id="<%= dom_id booking %>">
<ul>
 <li> <p>
    <strong>Bookingid:</strong>
    <%= booking.bookingid %>
  </p>
  </li>
  <li>
  <p>
    <strong>Place:</strong>
    <%= booking.place %>
  </p>
  </li>
</ul>
</div>
