<div class="mx-auto max-w-3xl mt-24">

<h1 class="font-bold text-4xl mb-6">Bookings</h1>
<%= render 'form', booking: Booking.new %>
<br>
<br>
<div class="container"><h3>Booking done</h3>
<div id="bookings" class='divide-y list-none'>
  <% @bookings.each do |booking| %>
    <%= render booking %>
    <p>
      <%= link_to "Show this booking", booking %>
    </p>
  <% end %>
</div>

<%= link_to "New booking", new_booking_path %>
</div>
</div>